<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Springboot :: 회원관리 프로그램</h1>
<div>
    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>이름</th>
            <th>주소</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="member : ${members}">
            <td th:text="${member.id}"></td>
            <td th:text="${member.name}"></td>
            <td th:text="${member.address}"></td>
        </tr>
        </tbody>
    </table>
    <a href="/">홈으로</a>
    <a href="/members/signup">회원 가입</a>
</div>
</div>
</body>
</html>